//
// About
//

.mission-section {
    min-height: calc(100vh - 3.5rem - 8px);
    overflow: hidden;
    background: linear-gradient(to bottom,
        $primary 0%,
        #{fade-out($primary, 0.1)} 75%,
        #{fade-out($primary, 0.2)} 100%);

    p {
        color: $gray-300;
        font-size: 1.2rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    #mission-about{
        font-family: $font-family-special;
    }
    #get-in-touch{
        color: $gray-400;
        &:hover{
            color: lighten($color: $secondary, $amount: 15%) !important;
        }
    }
}