.research-section{
    background: linear-gradient(to bottom,
        $primary 0%,
        #{fade-out($primary, 0.1)} 75%,
        #{fade-out($primary, 0.2)} 100%);
    padding: 5rem 0;
    #research-intro{
        color: $gray-400;
    }
    h2 {
        font-size: 2.5rem;
    }
    .card-title {
        font-size: 0.9rem;
    }
    .card-text{
        font-size: 0.75rem;
    }
    .entalpic-paper-icon {
        width: 12px;
        position: absolute;
        bottom: 12px;
        right: 12px;
    }
    .card-body{
        padding: 1.5rem;
    }
}