//
// Signup
//

.signup-section {
    padding: 10rem 0 3rem;
    background: linear-gradient(to bottom,
        #{fade-out($primary, 0.9)} 0%,
        #{fade-out($primary, 0.5)} 75%,
        $primary 100%),
    url("../assets/img/pexels-evan-velez-saxer-44054850-10347252.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 5rem;

    h4 {
        font-weight: bolder;
    }


    .btn {
        font-weight: bolder;
    }

    .form-signup {
        input {
            box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
            padding: 1.25rem 2rem;
            height: auto;
            font-family: $font-family-special;
            font-size: 80%;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            border: 0;
        }
    }

    .card {
        border: 0;
        border-bottom: 0.25rem solid $primary;

        h4 {
            font-size: 0.8rem;
            font-family: $font-family-special;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
        }

        hr {
            opacity: 1;
            border-color: $primary;
            border-width: 0.25rem;
            width: 3rem;
        }
    }

    .social {
        margin-top: 5rem;

        a {
            text-align: center;
            height: 3rem;
            width: 3rem;
            background: fade-out($white, 0.9);
            border-radius: 100%;
            line-height: 3rem;
            color: fade-out($white, 0.7);

            &:hover {
                color: fade-out($white, 0.5);
            }

            &:active {
                color: $white;
            }
        }
    }
}