//
// team
//

.team-section {
    padding: 5rem 0;
    min-height: calc(100vh - 3.5rem - 8px);
    a {
        color: $primary;
        &:hover {
            color: lighten($color: $primary, $amount: 15%) !important;
        }
    }

    .btn {
        font-weight: bolder;
    }

    .featured-text {
        padding: 2rem;

        @include media-breakpoint-up(lg) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }

    #hiring-img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .project-text {
        padding: 1rem;
        font-size: 90%;

        @include media-breakpoint-up(lg) {
            padding: 1rem;
        }
    }
    .bg-primary {
        background: $primary;
    }
}