//
// Global theme styling
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

body {
  letter-spacing: $base-letter-spacing;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.text-white-15 {
  color: fade-out($white, 0.15);
}
.text-white-25 {
  color: fade-out($white, 0.25);
}
